################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cosmic-management-api/FileContentIndex/40fd250b-2128-4222-a563-7879f617c20b.vsidx
/.vs/cosmic-management-api/FileContentIndex/84723727-ed73-4f73-9d5d-f03d5883eb15.vsidx
